# Latex
*.aux
*.bbl
*.blg
*.log
*.tdo
*.toc
*-converted-to.pdf
# Emacs
*~
\#*\#
.\#*
# Vim
*.swp
poster.pdf
*.out
rescrit_interet_general/main.pdf
rescrit_interet_general/main.tns
rescrit_interet_general/reponse.pdf
rescrit_interet_general/reponse.tns
pv_ag/2019_ex.pdf
statuts/statuts_2019.pdf
